#ifndef SECRETS_H
#define SECRETS_H

// LÜTFEN BU DOSYANIN ADINI 'secrets.h' OLARAK DEĞİŞTİRİN
// VE KENDİ WI-FI BİLGİLERİNİZİ GİRİN.

const char* ssid = "SİZİN_WIFI_ADINIZ";     
const char* password = "SİZİN_WIFI_ŞİFRENİZ";    
const char* bilgisayar_ip = "192.168.1.100"; 
const int port = 5001;                

#endif
